a {
	color: #EB989D;
}
a:hover {
	color: #EB989D;
}

/* menu */
.nav>li>a:hover {
	color: #EB989D;
}

.navbar .navbar-nav > .active > a {
	color: #EB989D;
}
.navbar .navbar-brand:hover {
	color: #EB989D;
}

/* flexslider */
.flex-control-paging li a {
	background: #EB989D;
}

.flex-direction-nav a:hover{
	background-color:#EB989D;
}

.testimonial span.author a {
	color: #EB989D;
}

/* portfolio */
.portfolio-item .portfolio-desc {
	background: #EB989D;
}

/* btn */
.btn-theme {
  background: #EB989D;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #EB989D;
}
.btn-cta,.btn-cta.btn-lg {
  background: #EB989D;
  border-color: #EB989D;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #EB989D;
}

/* contact */
.social-circle li a {
	background:#EB989D;
}

a.scrollup{
	background:#EB989D;
}
